/* styling html with the help of css */

/* universal selector styling all selector */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
} 
/* navigation-style */
body{
	background: url("../Images/cycle.jpg") no-repeat;
	background-position: left 15%;
	height: 100vh;
	width:  100%;
	font-family: 'Grenze', serif;
}

header{
	width:  100%;
	height:  auto;
	display: flex;
	justify-content: space-around;
}
header div{
	background: #000;
	font-size: 2.7em;
	padding:0 15px;
	height: 75px;
	width:  auto;
	font-style: italic;
	font-weight: bolder;
}
header div:hover{
	background:  red;
	transition: all 1s ease-in-out;
}
nav{
	width:  auto;
	height:  auto;
    position: relative;
    top: 13.50px;
}
ul{
	list-style: none;
	word-spacing: 30px;
	font-size: 1.1em;
	border: 1px solid #fff;
	width: 495px;
	padding:10px;
	text-align: center;
}
ul li{
	display: inline-block;
}
ul li a:hover{
	color: red;
	transition: all 1s ease-out;
}
a{
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
}
#design{
	background: #000;
	padding:4px 12px;
}
/* navigation-style-close */

/* style wlcm-strtup-page */
.wlcm-frst{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 70vh;
}
.wlcm-frst article{
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 10px;
	font-family: 'Roboto', sans-serif;
	line-height: 11vh;
}
#join1{
	font-size: 2em;
}
#join{
    font-size: 4.5em;
    font-weight: bold;
}
#join2{
	border: 2px solid;
	border-radius: 50%;
	padding-left: 7px;
	padding-top: 4px;
	padding-bottom: 4px;
	
}
#join3{
	border: 2px solid;
	border-radius: 50%;
	padding-left: 7px;
	padding-top: 4px;
	padding-bottom: 4px;
}
#join2:hover{
	background: orange;
	cursor: pointer;
}
#join3:hover{
	background: orange;
	cursor: pointer;
}
/* Close */

section{
	background: #000;
	color: #fff;
	padding: 41px;
	opacity: 0.7;
	text-align: center;
}
section article span{
	color:  orange;
	font-size: 1.3em;
	padding-right: 25px;
}
input[type=text]{
	padding: 7px;
	border: none;
	outline: none;
	background: gray;

}
button[type=submit]{
	padding: 7px;
	color: black;
	background: orange;
	border: none;
	outline: none;
	font-weight: bolder;
}
button[type=submit]:hover{
	background: darkred;
	color:  white;
	transition:all 1s linear;
}





























